.h1 {
  color: #0099ff;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 8px;
}

.h2 {
  font-size: 21px;
  color: darkslateblue;
  margin: 0;
}

.section {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
}

.div_button {
  margin-top: 16px;
}


